#logo {
  width: 100px;
}
#root {
  background: linear-gradient(180deg, #c4b5e1 0%, #ffffff 20%);
  background-attachment: fixed;
}

.border-purple{
    border: 1px solid purple !important;
}

.bg-purple{
    background-color: #f7f3ff;
}